.carousel-item > img {
    max-height: 44rem;
    min-width: 100%;
    object-fit: cover;
    object-position: 0 10%;
    filter: brightness(50%);
}

.card-body > img {
    max-height: 12.5rem;
}

.fa-solid {
    margin-bottom: 20px;
}
