@mixin flexbox() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin backgroundStyling() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

$primaryColor: rgb(8, 60, 207);
$secondaryColor: rgb(227, 183, 7);
$textColorDark: rgb(76, 74, 71);
$textColorLight: rgb(139, 139, 139);

#contactus {
  background-image: url(./resources/image/bgcontactpage.png);
  @include backgroundStyling();
  position: relative;
  padding: 230px 100px 50px 100px;

  .headertop {
    @include backgroundStyling();
    background-image: url(./resources/image/waveheader.png);
    height: 280px;
    width: 100%;
    position: absolute;
    top: -280px;
    left: 0;
  }
  .headercontactpage {
    position: absolute;
    margin-top: -100px;
    p {
      font-family: "Montserrat ExtraBold";
      color: $textColorDark;
      font-size: 64px;
      color: $secondaryColor;
    }
  }

  .contactuscontent {
    .content {
      @include flexbox();
      align-items: flex-start;
      .contactdetails {
        flex: 1;
      }
      .contactdetails {
        @include flexbox();
        align-items: flex-start;
        .text {
          font-family: "Montserrat";
          p {
            padding-top: 16px;
            line-height: 24px;
            color: white;
            cursor: pointer;
            i {
              font-size: 20px;
              padding-right: 12px;
            }
            &:hover {
              color: $secondaryColor;
            }
          }
          p:nth-child(1) {
            cursor: text;
            &:hover {
              color: white;
            }
          }
          p:nth-child(2) {
            margin-top: 24px;
          }
        }
        .illustration {
          img {
            padding-right: 50px;
          }
        }
      }
      .contactform {
        @include flexbox();
        @include backgroundStyling();
        background-size: contain;
        background: url(/resources/image/background.png);
        flex-direction: column;
        align-items: start;
        padding: 36px 36px 44px 36px;
        border-radius: 16px;

        p {
          font-family: "Montserrat SemiBold";
          font-size: 36px;
          color: $secondaryColor;
        }
        p:nth-child(2) {
          font-family: "Montserrat Medium";
          color: $textColorDark;
          font-size: 15px;
          width: 300px;
          line-height: 25px;
          margin-top: 8px;
        }
        form {
          display: grid;
          input {
            margin-top: 12px;
            width: 300px;
            height: 40px;
            padding: 0px 14px;
            font-family: "Montserrat Medium";
            border: solid 1.5px $textColorLight;
            outline: none;
            background-color: rgb(238, 238, 238);
            font-size: 12px;
            border-radius: 8px;
          }
          textarea {
            margin-top: 12px;
            border: none;
            outline: none;
            background-color: rgb(238, 238, 238);
            border-radius: 8px;
            padding: 14px;
            font-family: "Montserrat Medium";
            padding-top: 12px;
            resize: none;
            width: 300px;
            font-size: 12px;
            border: solid 1.5px $textColorLight;
          }
          input,
          textarea {
            &:hover {
              border: solid 2px $secondaryColor;
            }
          }
          input[type="button"] {
            align-items: flex-start;
            width: 200px;
            border-radius: 99px;
            font-family: "Montserrat Semibold";
            color: $seconaryColodr;
            border: none;
            background-color: $textColorDark;
            font-size: 14px;
            cursor: pointer;
            &:hover {
              background-color: $secondaryColor;
              color: $textColorDark;
            }
          }
        }
      }
    }
    .links {
      @include flexbox();
      justify-content: space-between;
      align-items: start;
      width: 650px;
      margin-top: -180px;
      .logoanddescription {
        width: 280px;
        img {
          margin-left: -12px;
          width: 250px;
        }
        p {
          font-family: "Montserrat";
          line-height: 25px;
          color: white;
          font-size: 12px;
        }
      }
      .navlinks {
        ul {
          list-style-type: none;
          li {
            font-family: "Montserrat";
            line-height: 28px;
            font-size: 12px;
            color: white;
            a {
              color: white;
              text-decoration: none;
              cursor: pointer;
              &:hover {
                color: $secondaryColor;
              }
            }
          }
          li:nth-child(1) {
            font-family: "Montserrat ExtraBold";
            font-size: 24px;
            margin-bottom: 6px;
            margin-top: 22px;
          }
        }
      }
      .contactlinks {
        ul {
          list-style-type: none;
          li {
            font-family: "Montserrat";
            line-height: 28px;
            font-size: 12px;
            color: white;
            cursor: pointer;
            &:hover {
              color: $secondaryColor;
            }
          }
          li:nth-child(1) {
            font-family: "Montserrat ExtraBold";
            font-size: 24px;
            margin-bottom: 6px;
            margin-top: 22px;
          }
        }
      }
    }
    .footer {
      div {
        margin-top: 90px;
        width: 100%;
        height: 6px;
        border-radius: 99px;
        background-color: $secondaryColor;
      }
      p {
        text-align: right;
        margin-top: 12px;
        font-family: "Montserrat SemiBold";
        font-size: 12px;
        color: $secondaryColor;
      }
    }
  }
}
