@mixin flexbox() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin backgroundStyling() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

$primaryColor: rgb(8, 60, 207);
$secondaryColor: rgb(227, 183, 7);
$textColorDark: rgb(76, 74, 71);
$textColorLight: rgb(139, 139, 139);

#homepage {
  @include flexbox();
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 200px;
  .homepageContent {
    padding: 170px 0px 150px 100px;

    p:first-child {
      font-family: "Bebas";
      font-size: 110px;
      letter-spacing: -2px;
      width: 530px;
      color: $primaryColor;
      line-height: 90px;
    }
    p:nth-child(2) {
      padding-top: 10px;
      font-family: "Montserrat SemiBold";
      color: $secondaryColor;
      font-size: 45px;
      width: 600px;
      line-height: 45px;
    }
    p:nth-child(3) {
      padding-top: 10px;
      font-family: "Montserrat SemiBold";
      color: $textColorDark;
      font-size: 16px;
      width: 550px;
      line-height: 23px;
    }

    #getstarted {
      @include flexbox();
      background-color: $textColorDark;
      margin-top: 12px;
      border: none;
      outline: none;
      padding: 10px 46px;
      font-family: "Montserrat SemiBold";
      color: $secondaryColor;
      font-size: 22px;
      border-radius: 28px;
      cursor: pointer;
      span {
        margin-left: 8px;
        height: 28px;
        width: 28px;
        background-color: white;
        border-radius: 100%;
        i {
          padding-top: 4px;
        }
      }
      &:hover {
        background-color: $secondaryColor;
        color: $textColorDark;

        span {
          transform: rotate(360deg);
          transition: transform 0.8s ease-in-out;
        }
      }
      &.active {
        background-color: $primaryColor;
        color: white;
        span {
          i {
            color: $primaryColor;
          }
        }
      }
    }
    #noaccount {
      font-family: "Montserrat";
      color: $textColorLight;
      font-size: 12px;
      margin: 8px 0px 0px 24px;
      cursor: pointer;
      &:hover {
        color: $secondaryColor;
        span {
          font-family: "Montserrat SemiBold";
        }
      }
    }
  }
  .homepageImage {
    position: absolute;
    right: 0;
    z-index: -1;
    img {
      height: 750px;
    }
  }

  .scrolldown {
    margin-top: -60px;
    width: 100%;

    a {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: flex-end;
      align-items: center;

      .mouse {
        height: 50px;
        width: 30px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: $textColorDark;
        margin-bottom: 3px;
        padding-top: 15px;

        span {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $secondaryColor;
          display: block;
          margin: auto;
          animation: move-wheel 1s linear infinite;
        }
      }

      .arrow {
        margin-bottom: -2px;
        padding-top: auto;

        span {
          display: block;
          width: 8px;
          height: 8px;
          border: 2px solid transparent;
          border-right-color: $textColorDark;
          border-bottom-color: $textColorDark;
          transform: rotate(45deg);
          text-align: center;
          animation: arrow-down 0.5s alternate infinite;
        }
      }

      .arrow1 {
        margin-bottom: 5px;
        padding-top: auto;

        span {
          display: block;
          width: 8px;
          height: 8px;
          border: 2px solid transparent;
          border-right-color: $textColorDark;
          border-bottom-color: $textColorDark;
          transform: rotate(45deg);
          text-align: center;
          animation: arrow-down 0.7s alternate infinite;
        }
      }
    }
    @keyframes move-wheel {
      0% {
        opacity: 0;
        transform: translateY(-16px);
      }
      100% {
        opacity: 1;
        transform: translateY(16px);
      }
    }

    @keyframes arrow-down {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0.25;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .footer {
    position: absolute;
    @include backgroundStyling();
    background-image: url(./resources/image/waveheaderwhite.png);
    height: 280px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
