@mixin flexbox() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

$primaryColor: rgb(8, 60, 207);
$seconaryColor: rgb(227, 183, 7);
$textColorDark: rgb(76, 74, 71);

#navbar {
  height: 110px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
  box-shadow: 0px 0px 42px 0px rgb(214, 214, 214);
  padding: 0px 100px;
  @include flexbox();
  justify-content: space-between;
  .logo {
    img {
      height: 50px;
      width: auto;
    }
  }

  .close {
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 36px;
      background-color: $textColorDark;
      transform: rotate(45deg);
      right: 0;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.signuplogincontents {
  @include flexbox();
  height: 100vh;
  justify-content: center;
  #loginpage {
    @include flexbox();
    padding-top: 120px;
    .content {
      border: 1px solid gray;
      border-radius: 24px;
      padding: 60px;
      .heading {
        font-family: "Montserrat ExtraBold";
        font-size: 46px;
        color: $primaryColor;
      }
      .email {
        margin-top: 16px;

        .text {
          @include flexbox();
          justify-content: space-between;
          p {
            font-family: "Montserrat";
            font-size: 14px;
            button {
              padding-left: 6px;
              color: $primaryColor;
              font-family: "Montserrat Semibold";
              cursor: pointer;
              background: none;
              outline: none;
              border: none;
            }
          }
          p:nth-child(2) {
            font-size: 12px;
            padding-right: 4px;
          }
        }
        #email {
          width: 100%;
          outline: none;
          height: 46px;
          margin-top: 6px;
          border-radius: 6px;
          outline: none;
          border: 2px solid gray;
          padding-left: 8px;
          &:hover {
            border: solid 2px $seconaryColor;
          }
        }
      }

      .password {
        margin-top: 24px;

        .text {
          @include flexbox();
          justify-content: space-between;
          p {
            font-family: "Montserrat";
            font-size: 14px;
          }
          .loginshowhide {
            i {
              padding-right: 6px;
            }
            font-family: "Montserrat Semibold";
            cursor: pointer;
            font-size: 12px;
            padding-right: 4px;
            background: none;
            border: none;
          }
        }
        #password {
          width: 100%;
          outline: none;
          height: 46px;
          margin-top: 6px;
          border-radius: 6px;
          outline: none;
          border: 2px solid gray;
          padding-left: 8px;
          &:hover {
            border: solid 2px $seconaryColor;
          }
        }
      }

      .validators {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-top: 16px;
        font-family: "Montserrat Medium";
        font-size: 12px;
        display: none;
        p {
          margin-top: -6px;
          span {
            height: 10px;
            width: 10px;
            display: inline-block;
            border-radius: 100%;
            background-color: $seconaryColor;
            margin-bottom: -1px;
          }
        }
        // p:nth-child(1) {

        // }
        // p:nth-child(2) {

        // }
        // p:nth-child(3) {

        // }
        // p:nth-child(4) {

        // }
        // p:nth-child(5) {

        // }
      }

      #login {
        width: 100%;
        font-family: "Montserrat ExtraBold";
        border: none;
        outline: none;
        padding: 16px 0px;
        background-color: $textColorDark;
        color: $secondaryColor;
        font-size: 18px;
        border-radius: 99px;
        margin-top: 24px;
        cursor: pointer;
        &:hover {
          background-color: $seconaryColor;
          color: $textColorDark;
        }
        &.active {
          background-color: $primaryColor;
          color: white;
        }
      }

      .forgotpassword {
        margin-top: 12px;
        width: 400px;
        line-height: 16px;
        font-family: "Montserrat";
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        span {
          font-family: "Montserrat Semibold";
        }
        &:hover {
          letter-spacing: 0.5px;
          transition: ease 500ms letter-spacing;
        }
      }
    }
  }

  #signuppage {
    @include flexbox();
    padding-top: 120px;
    .content {
      border: 1px solid gray;
      border-radius: 24px;
      padding: 60px;
      .heading {
        font-family: "Montserrat ExtraBold";
        font-size: 46px;
        color: $primaryColor;
      }
      .email {
        margin-top: 16px;

        .text {
          @include flexbox();
          justify-content: space-between;
          p {
            font-family: "Montserrat";
            font-size: 14px;
            button {
              padding-left: 6px;
              color: $primaryColor;
              font-family: "Montserrat Semibold";
              cursor: pointer;
              background: none;
              outline: none;
              border: none;
            }
          }
          p:nth-child(2) {
            font-size: 12px;
            padding-right: 4px;
          }
        }
        #email {
          width: 100%;
          outline: none;
          height: 46px;
          margin-top: 6px;
          border-radius: 6px;
          outline: none;
          border: 2px solid gray;
          padding-left: 8px;
          &:hover {
            border: solid 2px $seconaryColor;
          }
        }
      }

      .password {
        margin-top: 24px;

        .text {
          @include flexbox();
          justify-content: space-between;
          p {
            font-family: "Montserrat";
            font-size: 14px;
          }
          .signupshowhide {
            i {
              padding-right: 6px;
            }
            font-family: "Montserrat Semibold";
            cursor: pointer;
            font-size: 12px;
            padding-right: 4px;
            background: none;
            border: none;
          }
        }
        
        #signuppassword {
          width: 100%;
          outline: none;
          height: 46px;
          margin-top: 6px;
          border-radius: 6px;
          outline: none;
          border: 2px solid gray;
          padding-left: 8px;
          &:hover {
            border: solid 2px $seconaryColor;
          }
        }
      
      }

      .password2 {
        margin-top: 24px;

        .text {
          @include flexbox();
          justify-content: space-between;
          p {
            font-family: "Montserrat";
            font-size: 14px;
          }
          .signupshowhide2 {
            i {
              padding-right: 6px;
            }
            font-family: "Montserrat Semibold";
            cursor: pointer;
            font-size: 12px;
            padding-right: 4px;
            background: none;
            border: none;
          }
        }
        
        #signuppassword2 {
          width: 100%;
          outline: none;
          height: 46px;
          margin-top: 6px;
          border-radius: 6px;
          outline: none;
          border: 2px solid gray;
          padding-left: 8px;
          &:hover {
            border: solid 2px $seconaryColor;
          }
        }
         
      }

      .validators {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-top: 16px;
        font-family: "Montserrat Medium";
        font-size: 12px;
        p {
          margin-top: -6px;
          span {
            height: 10px;
            width: 10px;
            display: inline-block;
            border-radius: 100%;
            background-color: $seconaryColor;
            margin-bottom: -1px;
          }
        }
        // p:nth-child(1) {

        // }
        // p:nth-child(2) {

        // }
        // p:nth-child(3) {

        // }
        // p:nth-child(4) {

        // }
        // p:nth-child(5) {

        // }
      }

      #signup {
        width: 100%;
        font-family: "Montserrat ExtraBold";
        border: none;
        outline: none;
        padding: 16px 0px;
        background-color: $textColorDark;
        color: $secondaryColor;
        font-size: 18px;
        border-radius: 99px;
        margin-top: 24px;
        cursor: pointer;
        &:hover {
          background-color: $seconaryColor;
          color: $textColorDark;
        }
        &.active {
          background-color: $primaryColor;
          color: white;
        }
      }

      .termsandconditions {
        margin-top: 12px;
        width: 400px;
        line-height: 16px;
        font-family: "Montserrat";
        font-size: 12px;
        text-align: center;
        span {
          font-family: "Montserrat Semibold";
        }
      }
    }
  }
}
